@switch (selectedCategory) { 
    @case("HTML"){
  <div class="category-title-container">
    <img src="/icon-html.svg" alt="" />
    <h3>{{ selectedCategory }}</h3>
  </div>
  } @case ("CSS") {
  <div class="category-title-container">
    <img src="/icon-css.svg" alt="" />
    <h3>{{ selectedCategory }}</h3>
  </div>
  } @case ("JavaScript") {
  <div class="category-title-container">
    <img src="/icon-js.svg" alt="" />
    <h3>{{ selectedCategory }}</h3>
  </div>
  } @case ("Accessibility") {
  <div class="category-title-container">
    <img src="/icon-accessibility.svg" alt="" />
    <h3>{{ selectedCategory }}</h3>
  </div>

  }}
