<main>
    <div class="aside-container">
      <h1>
        Quiz completed
        <br />
        <span>You scored... </span>
      </h1>
    </div>
  
    <section>
      <div>
        <div class="category-title">
          <app-category-icon [selectedCategory]="selectedCategory" />
        </div>
        <h1 class="correct-score">{{correctAnswersCount}}</h1>
        <p class="quiz-length">out of {{ quizzes[0].questions.length }}</p>
      </div>
      <button (click)="resetQuiz()" class="submit-btn">Play Again</button>
    </section>
  </main>
  