<header>
  <!-- dynamic rendering of category title -->
  <app-category-icon [selectedCategory]="selectedCategory" />

  <div class="toggle">
    <img [src]="isDarkMode ? '/sun-dark.svg' : 'sun.svg'" alt="sun" />
    <div>
      <label class="switch">
        <input
          type="checkbox"
          [checked]="isDarkMode"
          (change)="toggleTheme()"im nb9 
        />
        <span class="slider"></span>
      </label>
    </div>
    <img [src]="isDarkMode ? '/moon-dark.svg' : 'moon.svg'" alt="moon" />
  </div>
</header>

<ng-container>
  <!-- switch toggle -->
  <div>
    <img
      class="ellipse-white-1"
      [src]="
        isDarkMode
          ? '/assets/images/Ellipse-dark-1.svg'
          : '/assets/images/Ellipse-white-1.svg'
      "
      alt=""
    />
  </div>
  <div>
    <img
      class="ellipse-white-2"
      [src]="
        isDarkMode
          ? '/assets/images/Ellipse-dark-2.svg'
          : '/assets/images/Ellipse-white-2.svg'
      "
      alt=""
    />
  </div>

  <!-- quiz component -->
  @if (showScoreComponent) {
  <app-score
    [selectedCategory]="selectedCategory"
    [correctAnswersCount]="correctAnswersCount"
    [quizzes]="quizzes"
    (quizReset)="onQuizReset()"
  />}@else { @switch (selectedCategory) { @case("HTML"){
  <app-questions
    [quizzes]="filteredCategoryQuizzes"
    (quizFinished)="onQuizFinished($event)"
  />
  } @case ("CSS") {
  <app-questions
    [quizzes]="filteredCategoryQuizzes"
    (quizFinished)="onQuizFinished($event)"
  />
  } @case ("JavaScript") {
  <app-questions
    [quizzes]="filteredCategoryQuizzes"
    (quizFinished)="onQuizFinished($event)"
  />
  } @case ("Accessibility") {
  <app-questions
    [quizzes]="filteredCategoryQuizzes"
    (quizFinished)="onQuizFinished($event)"
  />
  } @default {
  <app-home (categorySelected)="onCategorySelect($event)" />
  } } }
</ng-container>
