h1 {
    font-weight: 100;
  }
  
  body.dark-theme .aside-container {
    color: var(--pure-white);
  }
  
  p {
    margin-top: 2rem;
    color: var(--grey-navy);
    font-style: italic;
    font-size: 1.2rem;
  }
  
  body.dark-theme .aside-container p {
    color: var(--light-bluish);
  }
  
  body.dark-theme span {
    color: var(--pure-white);
  
  }
  
   span {
    color: var(--dark-navy);
    font-weight: 500;
  }
  
  ul {
    width: 100%;
  }
  
  ul div {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    background-color: var(--pure-white);
    padding: 1.25rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
  
  
  
  ul div:not(:first-of-type) {
    margin-top: 1.5rem;
  }
  
  ul h3 {
    font-weight: 500;
    font-size: 1.45rem;
  }
  
  
  body.dark-theme ul div {
    background-color: var(--navy);
    color: var(--pure-white);
  }
  
  